<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CourseList</title>
</head>
<h1>Course List</h1>
<body>
    <form action="/home" method="get">
        <input type="text" name="search">
        <button type="submit">search</button>
    </form>
    <p>
        <a href="/course/add">Add New Course</a>
    </p>
    <table border="1">
        <thead>
            <tr>
                <th>NO</th>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Last Update</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% courses.forEach((el, i) => { %>
                <tr>
                    <td><%= i + 1 %></td>
                    <td><%= el.name %></td>
                    <td><%= el.description %></td>
                    <td><%= el.Category.name %></td>
                    <td><%= el.updatedDate %></td>
                    <td>
                        <a href="/course/<%= el.id %>/edit">Edit</a> |
                        <a href="/course/<%= el.id %>/delete">Delete</a> |
                        <a href="/course/<%= el.id %>">Start Course</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <p>
        <a href="/logout">logout</a>
    </p>
</body>
</html>